@keyframes slidein {
    0% {
        transform: scale(1);
    }
  
    50%
    {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
  }

.block
{
    height: 100vh;
}

.conteiner
{
    margin: 140px auto;
    width: 900px;
}
.content
{
    display: flex;
    &>img{
        height: 130px;
        border-radius: 50%;
        margin-top: 50px;
    }
}
.CV
{
    margin-top: 30px;
    padding: 20px;
    margin-left: 130px;
    display: flex;
    gap: 15px;
    flex-direction: row;
    height: 200px;
    width: 615px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 14px 34px 0px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 10px 14px 34px 0px rgba(34, 60, 80, 0.14);
    box-shadow: 10px 14px 34px 0px rgba(34, 60, 80, 0.14);
    &>div{
        width: 300px;
        &>p{
            font-family: 'Rubik', sans-serif;
            color: black;
            font-size: 11pt;
        }
    }
}
button{
    height: 35px;
    background-color: #ff4c60;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 10pt;
    font-weight: 500;
    width: 150px;
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
    margin-left: 15px;
    border: 0 solid;
    transition: 0.4s;
    &:hover
    {
        animation-duration: 0.5s;
        animation-name: slidein;
        cursor: pointer;
    }
}




.title
{
    background-image: url('./../../../assets/dots.svg');
    background-repeat: no-repeat;
    &>h1{ 
        padding-top: 10px;
        padding-left: 10px;
        font-family: 'Rubik', sans-serif;
        color: #454360;
        font-size: 25pt;
    }

}

.progressbars
{
    width: 300px;
    font-family: 'Rubik', sans-serif;
    color: #454360;
    margin-left: 10px;
    &>div{
        margin-top: 10px;
        &>div{
            display: flex;
            justify-content: space-between;
        }
        &>progress{
            width: 100%;
        }
    }
}
.procents{
    font-size: 10pt;
    font-weight: 100;
}


.achievements
{
    display: flex;
    margin-top: 70px;
    gap: 20px;
    font-family: 'Rubik', sans-serif;
    color: #525068;
    &>div{
        height: 100px;
        width: 300px;
        display: flex;
        gap: 10px;
        &>img{
            width: 35px;
            height: 35px;
        }
    }
}


.item
{
    &>h1{
        font-size: 20pt;
    }
    &>p{
        margin-top: 10px;
        font-size: 11pt;
    }
}




