.me
{
    background-color: #353353;
    height: 100vh;
}

.conteiner
{
    width: 900px;
    margin: auto;   
}

.Figure1
{
    position: absolute;
    top: 80%;
    left: 90%
}
.Figure2
{
    position: absolute;
    top: 50%;
    left: 30%
}
.Figure3
{
    position: absolute;
    top: 10%;
    left: 40%
}
.Figure4
{
    position: absolute;
    top: 20%;
    left: 80%
}
.Figure5
{
    position: absolute;
    top: 80%;
    left: 30%
}
.Figure6
{
    position: absolute;
    top: 50%;
    left: 60%
}
.Figure7
{
    position: absolute;
    top: 30%;
    left: 30%
}
.Figure8
{
    position: absolute;
    top: 10%;
    left: 60%
}
.Figure9
{
    position: absolute;
    top: 80%;
    left: 70%
}
.Figure10
{
    position: absolute;
    top: 75%;
    left: 45%
}
.Figure11
{
    position: absolute;
    top: 90%;
    left: 80%
}
.Figure12
{
    position: absolute;
    top: 50%;
    left: 80%
}

.figure{
    position: absolute;
    height: 25px;
    transform: translate(-15%, 117%);
}